function _filterTimestamp(value) {
  console.log(Date.parse(value))
  // 有些特殊 不能使用 new Date()
  var date = getDate();
  var Y = date.getFullYear() + '-';
  var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
  var D = date.getDate() + ' ';
  var h = date.getHours() + ':';
  var m = date.getMinutes() == 0 ? "00" : date.getMinutes();
  var s = date.getSeconds();
  return M + D + h + m;
}
function _filterDateObj(date) {
  var Y = date.getFullYear() + '-';
  console.log('Y------------------------------------:',Y)
  var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
  var D = date.getDate() + ' ';
  var h = date.getHours() + ':';
  var m = date.getMinutes() == 0 ? "00" : date.getMinutes();
  var s = date.getSeconds();
  return M + D + h + m;
}
module.exports._filterTimestamp = _filterTimestamp;